@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23626262' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 90rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.quote-container__quote {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-container__author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.quote-container__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.quote-container__buttons__tweet,
.quote-container__buttons__new-quote {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

button:hover {
  filter: brightness(150%);
}

button:active {
  transform: translate(0, 0.2rem);
  box-shadow: 0 0.5rem rgba(223, 223, 223, 0.2);
}

.quote-container__buttons__tweet:hover {
  color: #38a1f3;
}

/* Media query: Tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-container__quote {
    font-size: 2.5rem;
  }
}
